html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calc-wrapper {
  background-color: darkcyan;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  border: 1px solid #ccc;
  position: absolute;
  width: 400px;
  background-color: rgb(47, 47, 47);
}

.formula-screen {
  width: 100%;
  font-size: 2rem;
  height: 20px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.output-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 80px;
  background-color: #4d4d4dff;
  border: none;
  font-size: 2rem;
  color: rgb(255, 253, 243);
  border: 0.5px solid black;
}

button:hover {
  background-color: #eaeaea;
  color: black;
}

.operator {
  background-color: rgb(102, 102, 102);
  color: #fff;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
  /* grid-row: 2 / 6;
  grid-column: 4 / 5;
  grid-area: 2 / 4 / 6 / 5; */
}

.multiply {
  grid-row-start: 1;
  grid-column-end: 5;
}
.divide {
  grid-row-start: 1;
  grid-column-end: 4;
}
.subtract {
  grid-row-start: 2;
  grid-column-end: 5;
}

.add {
  grid-row-start: 3;
  grid-column-end: 5;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}
